NEXT_PUBLIC_SUPABASE_URL=https://bgiglzswgwpufywcswgx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Ba-bZ15DD4HNmGaB1WmJsw_oqhJi7i7
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnaWdsenN3Z3dwdWZ5d2Nzd2d4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTk1OTY5MSwiZXhwIjoyMTA1NTM1NjkxfQ.G9AQfL-oa6fkfu3iTfp1UEXdlh78LQ8dnImyfgpZEXg
UPSTASH_REDIS_REST_URL=https://trusty-tortoise-289257.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAABGnpAAIgcDEzZWY4NjFiNWYwMWE0YTVmYTQ3OTlkY2I2ZTU2MzBlOQ
CRON_SECRET=TRIZ@KENT123321
NEXT_PUBLIC_OSRM_URL=https://router.project-osrm.org
